---
import { getI18N } from "../../../i18n"
import Articule from "../../Information/components/Articule.astro"

const currentLocale  = Astro.cookies.get('eons_lng')?.value || 'es'
const i18 = getI18N({currentLocale})

---

<Articule
    title={i18.contact}
	description="contact-us"
	pubDate={new Date('January 31 2025')}
    >
    <h5>-{i18.About.About_text31}</h5><br/>
    <h5>-{i18.About.About_text32}:</h5>
    <a href="mailto:soporte.eons.es@gmail.com" target="_blank">soporte.eons.es@gmail.com</a>

    <h5>-{i18.About.About_text33}:</h5>
    <a href="mailto:infoeons.es@gmail.com" target="_blank">infoeons.es@gmail.com</a>

    <h5>-{i18.About.About_text34}:</h5>
    <a href="mailto:business.eons.es@gmail.com" target="_blank">business.eons.es@gmail.com</a>

    <p class="mt-3">
		{i18.About.About_text35}
	</p>

    <!--
    <h5>-Facebook:</h5>
    <a class="text-secundary" href="https://www.facebook.com/eons.providence" target="_blank">eons.providence</a>
    -->
    <h5>-Instagram:</h5>
    <a class="text-secundary" href="https://www.instagram.com/eons_universe" target="_blank">eons_universe</a>
    
    <h5 class="mt-3">
		-{i18.About.About_text36}:
        <br/><a class="text-secundary" href="https://www.youtube.com/channel/UCdmLOd_cRwWtn0EKAalpgCQ" target="_blank">EONS</a>.
	</h5>

    <p class="mb-9">
		{i18.About.About_text37}
	</p>

    </Articule>

<style>
    p {
        margin: 0 0 0.5rem 0;
    }
    h5 {
        margin: 0;
    }
    span {
        margin: 0 0 0.5rem 0;
    }
</style>