---
import Articule from "../../Information/components/Articule.astro"
import { getI18N } from "../../../i18n"

const currentLocale  = Astro.cookies.get('eons_lng')?.value || 'es'
const i18 = getI18N({currentLocale})
---

<Articule
    title={i18.privacy}
	description="privacy"
	pubDate={new Date('August 11 2024')}
    >

	<p class=mt-3">
		{i18.Privacy.Privacy_title}
	</p>

	<p>
		{i18.Privacy.Privacy_text1}:
	</p>

    <h4>-{i18.Privacy.Privacy_text2}:</h4>

	<p>
		{i18.Privacy.Privacy_text3}
	</p>

	<h4>-{i18.Privacy.Privacy_text4}:</h4>

	<p>
		{i18.Privacy.Privacy_text5}
	</p>

	<h4>-{i18.Privacy.Privacy_text6}:</h4>

	<p>
		{i18.Privacy.Privacy_text7}
	</p>

	<h4>-{i18.Privacy.Privacy_text8}:</h4>

	<p>
		{i18.Privacy.Privacy_text9}
	</p>

	<p>
		{i18.Privacy.Privacy_text9_1}
	</p>

	<p>
		{i18.Privacy.Privacy_text10}
	</p>

	<!-- <h5>-{i18.Privacy.Privacy_text11}:</h5>
    <a href="mailto:soporte.eons.es@gmail.com" target="_blank">soporte.eons.es@gmail.com</a>

    <h5>-{i18.Privacy.Privacy_text12}:</h5>
    <a href="mailto:infoeons.es@gmail.com" target="_blank">infoeons.es@gmail.com</a>

    <h5>-{i18.Privacy.Privacy_text13}:</h5>
    <a href="mailto:business.eons.es@gmail.com" target="_blank">business.eons.es@gmail.com</a> -->
    </Articule>

<style>
    p {
        margin: 0 0 0.5rem 0;
    }
    h5 {
        margin: 0;
    }
    span {
        margin: 0 0 0.5rem 0;
    }
</style>