---
import Articule from "../../Information/components/Articule.astro"
import { getI18N } from "../../../i18n"

const currentLocale  = Astro.cookies.get('eons_lng')?.value || 'es'
const i18 = getI18N({currentLocale})
---

<Articule
    title={i18.privacy}
	description="privacy"
	pubDate={new Date('August 11 2024')}
    >
	<p class=mt-3">
		{i18.Privacy.Privacy_title}:
	</p>

    <h4>-{i18.Privacy.Privacy_text1}:</h4>

	<p>
		{i18.Privacy.Privacy_text2}
	</p>

	<h4>-{i18.Privacy.Privacy_text3}:</h4>

	<p>
		{i18.Privacy.Privacy_text4}
	</p>

	<h4>-{i18.Privacy.Privacy_text5}:</h4>

	<p>
		{i18.Privacy.Privacy_text6}
	</p>

	<p>
		{i18.Privacy.Privacy_text7}
	</p>

	<p>
		{i18.Privacy.Privacy_text8}
	</p>

    <p>
		{i18.Privacy.Privacy_text9}
	</p>

    <p>
		{i18.Privacy.Privacy_text10}
	</p>

    <p>
		{i18.Privacy.Privacy_text11}
	</p>

    <h4>-{i18.Privacy.Privacy_text12}:</h4>

    <p>
		{i18.Privacy.Privacy_text13}
	</p>

    <p>
		{i18.Privacy.Privacy_text14}.
	</p>
    </Articule>

<style>
    p {
        margin: 0 0 0.5rem 0;
    }
    h5 {
        margin: 0;
    }
    span {
        margin: 0 0 0.5rem 0;
    }
</style>