---
import Header from "../../layouts/Header.astro";
import ThrowReact from './aplication/OpenDialog/OpenDialog'
import ReloadButton from "../user/items/ReloadButton.astro";
import { getI18N } from "../../i18n";
import BackButton from "../../components/UI/BackButton.astro";

const currentLocale  = Astro.cookies.get('eons_lng')?.value || 'es'
const i18 = getI18N({currentLocale})

const {action,param1,param2} = Astro.props
---

<Header/>
<div class="card-conteiner">
<div class="flex flex-row justify-between">
    <BackButton/>
    <ReloadButton/>
</div>

<main class="flex flex-col">
    <ThrowReact action={action} param1={param1} param2={param2} i18={i18} client:load/>
</main>


<style>
    span {
        color: #232323;
        font-weight: 700;
    }

    html{
        overflow-y: auto;
    }

    div {
        margin: 1rem 0rem;
    }

    .throw-counter{
        margin: 0rem
    }

    main {
        padding: 1em;
        align-items: center;
    }

    .card-conteiner {
        padding: 0em 2em;
    }

    .card{
        border-width: 1px;
        padding: 1em;
    }

    .coin-number{
        align-items: center;
    }

    .coin-number span{
        font-weight: 500;
    }

    .top{
        margin-top: 2rem;
    }

   
</style>





