---
import BaseHead from "./BaseHead.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import { LanguageProvider } from "../modules/Shared/context/LanguageContext"
import LoadingSpinner from "../components/UI/LoadingSpinner.astro"
import { UserProvider } from "../modules/Shared/context/UserContext"
import { toast, ToastContainer } from "react-toastify";
import { cleanURL } from "../utils/navigation";
import { useStore } from '@nanostores/react';
import { locale } from '../UserStore'

import "react-toastify/dist/ReactToastify.css";
import WebSocketComponent from "../modules/Shared/context/WebSocket"

locale.set(Astro.cookies.get('eons_lng')?.value || 'en') 

//console.log(locale)
const token = Astro.cookies.get('eons_refresh_token')

cleanURL(Astro.url.href)

console.log(cleanURL(Astro.url.href))
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <div class="spinner" id="spinner">
    <LoadingSpinner/>
  </div>
  
  <body>
    <!-- <WebSocketComponent client:load/> -->
      <UserProvider client:load token={token?.value}>
         <slot/>
      </UserProvider>

      <ToastContainer
          position="bottom-right"
          autoClose={4000}
          hideProgressBar={false}
          newestOnTop={true}
          closeOnClick
          rtl={false}
          pauseOnFocusLoss
          draggable
          pauseOnHover={false}
          client:load
        />
  </body>
</html>

<style>
  html {
	  overflow-y: hidden;
  }

</style>

<script>
  const loader = document.getElementById('spinner')
  const html = document.querySelector('html')
  
    window.onload = function() {
    console.log('Todo el contenido del DOM, incluyendo imágenes, ha cargado.');
    
    if (loader && html){
      loader.style.display = 'none';
      html.style.overflowY = 'auto'
    }
      
  };
</script>

