---
import Logo from "../components/Logo.astro";
import { getI18N } from "../i18n"

const currentLocale = Astro.cookies.get('eons_lng')?.value || 'es'
const i18 = getI18N({currentLocale})
---

<footer class="flex w-full lg:flex-row flex-col py-2 sm:px-10 px-5 items-center justify-between gap-y-2">
	<Logo/>

	<div class="flex items-center social-links text-base gap-x-8 text-center">
		<a href="/about/about-us">
			{i18.about}.
		</a>

		<a href="/terms" >
			{i18.therms}.
		</a>

		<a href="/privacy">
			{i18.privacy}.
		</a>
		<a href="/contact">
			{i18.contact}.
		</a>
	</div>
</footer>

<style>
	footer {
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		color: rgb(var(--gray-dark));
	}

	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray-dark));
	}

	.social-links a:hover {
		color: rgb(var(--gray));
	}
</style>
